.bg-banner {
  background-image: url('../images/banjo.jpeg'); /* Adjust the path */
  background-size: cover;
  background-position: center;

  background-attachment: fixed;
}

.audio-hero {
  /* background-image: url('../images/audioboard-hero-2.jpg'); */
  background-image: url('../images/mic-hero.jpg'); /* Adjust the path */

  background-size: contain;
  background-position: center;
  background-attachment: fixed;

}
